/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tailwind css  */
@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

.custom-circle {
  border-radius: 100px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
}
